.business-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: orange;
}

.title {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	color: white;
	font-size: 70px;
	font-family: 'StretchPro';
}

.business-list {
	display: flex;
	margin-top: 40px;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	width: 33%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 100px;
}

.card img {
	width: 400px;
	height: 550px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	cursor: pointer;
	transition: box-shadow 0.3s ease-in;
	transition: transform 0.3s ease-in;
	z-index: 1;
}
.card img:hover {
	box-shadow: 10px 10px 10px white;
	transform: scale(1.1);
}


.card h1 {
	white-space: pre-line;
	color: white;
	font-size: 25px;
	position: absolute;
	right: 50px;
	top: 0px;
	font-family: 'StretchPro';
	z-index: 2;
}

.box {
	position: absolute;
	background-color: rgba(61, 9, 9, 0.315);
	height: auto;
	width: 55%;
	border-radius: 30px;
	top: 30%;
	left: 20%;
	padding: 12px;
	opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease-in;
	z-index: 2;
}
.box:hover {
	opacity: 1;
}


.card p {
	width: 100%;
	font-size: 25px;
	color: white;
	font-family: 'Adam-Bold';
}

@media (max-width: 1350px) {
	.card {
		width: 45%;
	}
}

@media (max-width: 1150px) {
	.box {
		height: auto;
		width: 300px;
		top: 25%;
		left: 17%;
	}
}
@media (max-width: 900px) {
	.title {
		font-size: 30px;
		margin-top: 100px;
	}
	.card h1 {
		font-size: 30px;
	}
	.box {
		width: 350px;
		top: 25%;
		left: 17%;
	}
}

@media (max-width: 850px) {
	.card {
		width: 80%;
		margin-bottom: 80px;
	}
	.card img {
		width: 100%;
	}
	.card h1 {
		font-size: 20px;
	}
}

@media (max-width: 650px) {
	.card {
		width: 90%;
		margin-bottom: 80px;
	}
	.card img {
		width: 100%;
	}
	.card h1 {
		font-size: 20px;
	}
}

@media (max-width: 500px) {
	.title {
		font-size: 25px;
	}
	.box {
		width: 250px;
		top: 25%;
		left: 17%;
	}
}

@media (max-width: 380) {
	.box {
		width: 250px;
		top: 25%;
		left: 10%;
	}
}

@media (max-width: 330) {
	.box {
		width: 250px;
		top: 25%;
		left: 3%;
	}
}