<div class="container-about">
	<div class="card">
		<div class="image-container">
			<div class="image">
				<img src="/assets/about/img.jpg" alt="Imagen">
			</div>
			<div class="box"></div>
			<div class="title">
				<img src="/assets/about/logo.png" alt="Imagen">
			</div>
			<div class="subtitle">[ qu-á-tik ]</div>
			<div class="line"></div>
			<div class="definition">adj/sust. Ch. juv. Referido a persona que se manifiesta de manera exagerada</div>
			<div class="url">www.cuaticalaagencia.com</div>
		</div>
		<i class="fa-solid fa-turn-down fa-xl" style="color: #ffffff; position: relative; left: 570px; top: 250px;"></i>
		<div class="paragraph">
			Somos una agencia de comunicación que valora 
			las características extravagantes para manifestarnos 
			de forma escandalosa. Con nuestra experiencia en PR, 
			Medios, Redes Sociales, Influencers y Creación de Contenido, 
			nos dedicamos a transformar tu visión en una 
			estrategia a fin con tus objetivos. 
			Convierte a tu marca en una marca Cuatica en la conexión de la comunicación ✨
		</div>
		<app-socialmedia class="social-media"></app-socialmedia>
	</div>
</div>