<div class="container-about" [@slideInOutAnimation]>
	<div class="card">
		<div class="paragraph-container">
			<div class="icon">
				<i class="fa-solid fa-turn-down fa-xl"></i>
			</div>
			<div class="paragraph">
				Somos una agencia de comunicación que valora 
				las características extravagantes para manifestarnos 
				de forma escandalosa. Con nuestra experiencia en PR, 
				Medios, Redes Sociales, Influencers y Creación de Contenido, 
				nos dedicamos a transformar tu visión en una 
				estrategia a fin con tus objetivos. 
				Convierte a tu marca en una marca Cuatica en la conexión de la comunicación ✨
			</div>
			<div class="social-media">
				<app-socialmedia ></app-socialmedia>
			</div>
		</div>
		<div class="image-container">
			<img src="/assets/about/img.svg" alt="Imagen">
		</div>
	</div>
</div>