.container-about {
	width: 100%;
	height: 100%;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
	position: relative;
}
.card {
	display: flex;
	height: 85%;
	width: 70%;
}
.image-container {
	display: flex;
}
.image {
	height: 650px;
	width: 500px;
	position:absolute;
}
.image img{
	height: 100%;
	width: 100%;
	position: relative;
	border-radius: 15px;
}
.box {
	height: 250px;
	width: 350px;
	background-color: rgba(255, 255, 255, 0.315);
	position: relative;
	border-radius: 30px;
	top: 255px;
	left: 80px;
}
.title {
	bottom: 90px;
	left: 20px;
	position: relative;
}
.title img {
	width: 300px;
}
.subtitle {
	position: absolute;
	color: white;
	width: 130px;
	top: 80px;
	left: 35px;
	font-size: 25px;
}
.line {
	position: relative;
	border-bottom: 1px solid white;
	width: 280px;
	bottom: 125px;
	left: 25px;
}
.definition {
	position: relative;
	color: white;
	font-size: 20px;
	width: 280px;
	bottom: 105px;
	left: 25px;
}
.url {
	position: relative;
	color: white;
	font-size: 20px;
	width: 280px;
	left: 60px;
}
.paragraph-container {
	left: 190px;
	top: 200px;
	width: 50%;
	position: relative;
	color: white;
	font-size: 25px;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.social-media {
	position: relative;
	top: 40px;
	width: 90%;
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-bottom: 150px;
}
.icon {
	color: #ffffff;
	display: flex;
	margin-bottom: 30px;
}
@media (max-width: 1300px) {
  .image {
		height: 550px;
		width: 400px;
	}
	.box {
		top: 175px;
		left: 25px;
	}
	.paragraph-container {
		left: 90px;
		top: 100px;
	}
}
@media (max-width: 1300px) {
  .container-about {
		overflow-y: scroll;
	}
	.card {
		flex-direction: column-reverse;
		align-items: center;
		position: relative;
		height: 100%;
	}
	.image-container {
		position: relative;
	}
	.image img {
		margin-bottom: 100px;
	}
	.paragraph-container {
		left: 30px;
		top: 0;
		width: 90%;
	}
	.paragraph {
		position:relative;
	}
}
@media (max-width: 1100px) {
  .card {
		top: 40%;
	}
}
@media (max-width: 1000px) {
  .card {
		top: 10%;
	}
}
@media (max-width: 600px) {
  .card {
		top: 20%;
	}
}
@media (max-width: 500px) {
  .card {
		top: 40%;
	}
	.paragraph-container {
		left: 10px;
	}
	.image-container {
		right: 20px;
	}
}
@media (max-width: 430px) {
  .card {
		top: 30%;
	}
	.paragraph-container {
		left: 10px;
	}
	.image-container {
		right: 20px;
	}
}
@media (max-width: 395px) {
  .card {
		top: 40%;
	}
}
@media (max-width: 375px) {
  .card {
		top: 80%;
	}
}
@media screen and (orientation: portrait) and (min-height: 1000px) {
	.card {
		top: -5%;
	}
}
@media screen and (orientation: portrait) and (min-height: 1100px) {
	.card {
		top: -15%;
	}

}
@media screen and (orientation: portrait) and (min-height: 1250px) {
	.card {
		top: -20%;
	}
}
@media screen and (orientation: portrait) and (min-height: 1250px) {
	.card {
		top: -40%;
	}
}


