/* Estilos base para todos los tamaños de pantalla */
.contact-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}

.img-container img {
  height: 100vh;
  width: 100%; /* Cambiado a 100% para ocupar todo el ancho del contenedor */
  display: block;
  margin: 0 auto;
  position: relative;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px; /* Añadido relleno para mejorar la apariencia en pantallas más pequeñas */
}

.logo-container {
  text-align: center;
  height: auto; /* Cambiado a auto para adaptarse al contenido */
  padding: 10px; /* Añadido relleno para mejorar la apariencia en pantallas más pequeñas */
}

.logo-container img {
  width: 100%; /* Cambiado a 100% para ocupar todo el ancho del contenedor */
  height: auto; /* Cambiado a auto para mantener la proporción original */
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Reducido el espacio superior para pantallas más pequeñas */
}

/* Media queries para ajustes específicos en diferentes tamaños de pantalla */
@media (min-width: 768px) {
  .img-container img {
    width: 50vw;
  }

  .logo-container img {
    width: 20vw;
  }
}

@media (min-width: 1200px) {
  .img-container img {
    width: 40vw;
  }

  .logo-container img {
    width: 15vw;
  }
}