.contact-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
}

.img-container img {
	height: 100vh; /* La imagen ocupará el 100% de la altura de la pantalla */
	width: 50vw; /* El ancho se ajustará automáticamente para mantener la proporción original */
	display: block; /* Evita espacio adicional debajo de la imagen */
	margin: 0 auto; /* Centra la imagen horizontalmente */
	position: relative;
}
.contact-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.logo-container {
	top: 0;
	width: auto;
	height: auto;
	text-align: center;
	position: relative;
}

.logo-container img {
	width: 400px;
	height: 300px;
}

.social {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

