/* Estilos base para todos los tama침os de pantalla */
.contact-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  overflow-y: scroll;
}

.img-container img {
  display: block;
  object-fit: cover;
}

.contact-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px; /* A침adido relleno para mejorar la apariencia en pantallas m치s peque침as */
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  margin: 20px 0 100px 0; 
}

@media (min-width: 750px) {
  .img-container img {
    width: 40vw;
    height: 100vh;
  }

  .logo-container img {
    width: 25vw;
  }
}

@media (min-width: 1000px) {
  .img-container img {
    width: 40vw;
    height: 100vh;
  }

  .logo-container img {
    width: 25vw;
    height: 35vh;
  }
}
@media (max-width: 1000px) {
  .contact-container {
    flex-direction: column;
  }
  .img-container img {
    width: 100vw;
    position: relative;
    margin-bottom: 9%;
  }
  .logo-container img {
    width: 80vw;
  }
  .contact-form {
    width: 90vw;
  }
}









