<app-modal
  *ngIf="modal.isVisible"
  [title]="modal.title"
  [message]="modal.message"
  [isError]="modal.isError"
  (closeModal)="closeModal()"
></app-modal>
<form (ngSubmit)="submitForm(contactForm)" #contactForm="ngForm">
  <div>
    <label for="name">Nombre:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="contactFormModel.name"
      required
    />
    <div *ngIf="contactFormModel.nameError" class="error-message">
      {{ contactFormModel.nameError }}
    </div>
  </div>
  <!-- Repite el patrón para otros campos -->
  <div>
    <label for="email">E-mail:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="contactFormModel.email"
      required
      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      (ngModelChange)="validateEmail()"
    />
    <div *ngIf="contactFormModel.emailError" class="error-message">
      {{ contactFormModel.emailError }}
    </div>
  </div>

  <div>
    <label for="subject">Asunto:</label>
    <input
      type="text"
      id="subject"
      name="subject"
      [(ngModel)]="contactFormModel.subject"
      required
    />
    <div *ngIf="contactFormModel.subjectError" class="error-message">
      {{ contactFormModel.subjectError }}
    </div>
  </div>
  <div>
    <label for="message">Mensaje:</label>
    <textarea
      id="message"
      name="message"
      [(ngModel)]="contactFormModel.message"
      required
    ></textarea>
    <div *ngIf="contactFormModel.messageError" class="error-message">
      {{ contactFormModel.messageError }}
    </div>
  </div>
  <div class="button-area">
    <app-button
      [type]="typeButton"
      [title]="titleButton"
      [isDisabled]="contactForm.invalid"
    ></app-button>
  </div>
</form>
