form {
  max-width: 400px;
  margin: auto;
  font-size: 20px;
  font-family: 'Adam-Bold';
}

div {
  margin-bottom: 15px;
  transition: margin-bottom 0.3s ease; /* Agregada transición para suavizar los cambios de margen */
}

label {
  display: block;
  margin-bottom: 5px;
  transition: color 0.3s ease; /* Agregada transición para suavizar los cambios de color */
}

input,
textarea {
  width: 95%;
  padding: 8px;
  margin-top: 3px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease; /* Agregada transición para suavizar los cambios de borde */
}

/* Estilo cuando el campo está enfocado */
input:focus,
textarea:focus {
  outline: none;
  border-color: #FF00E7; /* Cambiado el color del borde cuando el campo está enfocado */
}

.button-area {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Agregado espacio superior para separar el botón del resto del formulario */
}

.error-message {
  color: red;
  font-size: 15px;
}

