<div
  class="container"
  id="slider"
  [@slideInOutAnimation]
  (click)="goToContact()"
>
  <div class="slider">
    <div class="slide">
      <img
        src="/assets/slider/BANNER-01-MOBILE.png"
        srcset="/assets/slider/BANNER-01.svg 1024w"
        alt="Cuatica La Moda"
      />
    </div>
    <div class="slide">
      <img
        src="/assets/slider/BANNER-02-MOBILE.png"
        srcset="/assets/slider/BANNER-02.svg 1024w"
        alt="Cuatica LifeStyle"
      />
    </div>
    <div class="slide">
      <img
        src="/assets/slider/BANNER-03-MOBILE.png"
        srcset="/assets/slider/BANNER-03.svg 1024w"
        alt="Cuatica La Gastro"
      />
    </div>
    <div class="slide">
      <img
        src="/assets/slider/BANNER-04-MOBILE.png"
        srcset="/assets/slider/BANNER-04.svg 1024w"
        alt="Cuatica La Belleza"
      />
    </div>
    <div class="slide">
      <img
        src="/assets/slider/BANNER-05-MOBILE.png"
        srcset="/assets/slider/BANNER-05.svg 1024w"
        alt="Cuatica La Conexion"
      />
    </div>
  </div>
</div>
