<div
  class="container"
  id="slider"
  [@slideInOutAnimation]
  (click)="goToContact()"
>
  <div class="slider">
    <div class="slide">
      <img [src]="images[0]" alt="Cuatica La Moda" />
    </div>
    <div class="slide">
      <img [src]="images[1]" alt="Cuatica LifeStyle" />
    </div>
    <div class="slide">
      <img [src]="images[2]" alt="Cuatica La Gastro" />
    </div>
    <div class="slide">
      <img [src]="images[3]" alt="Cuatica La Belleza" />
    </div>
    <div class="slide">
      <img [src]="images[4]" alt="Cuatica La Conexion" />
    </div>
  </div>
</div>
