/* Contenedor principal */
.container {
  width: 100%;
  height: 100vh; /* Usar altura del viewport */
  overflow: hidden;
  position: relative;
  background-color: black;
  cursor: pointer;
}

/* Estilo del slider */
.slider {
  display: flex;
  width: 500%; /* Ancho total del slider (5 imágenes en este caso) */
  height: 100%;
  transition: transform 1.5s ease; 
}

/* Estilo de cada slide */
.slide {
  flex: 20%; /* Ancho de cada slide en relación al slider */
  position: relative;
}

/* Estilo de las imágenes */
.slide img {
  width: 100%; /* Ancho de cada imagen en relación al slide */
  height: 100%;
}

@media (min-width: 768px) {
  .slide img {
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .container {
    height: auto;
  }
}