<div class="container" [@slideInOutAnimation] (click)="goToContact()">
	<div class="slider">
			<div class="slide">
				<img src="/assets/slider/image-01.png" alt="Imagen 1">
				<div class="caption">¿Te Atreves?</div>
			</div>
			<div class="slide">
				<img src="/assets/slider/image-02.png" alt="Imagen 2">
				<div class="caption">¿Te Atreves?</div>
			</div>
			<div class="slide">
				<img src="/assets/slider/image-03.png" alt="Imagen 3">
				<div class="caption">¿Te Atreves?</div>
			</div>
			<div class="slide">
				<img src="/assets/slider/image-04.png" alt="Imagen 4">
				<div class="caption">¿Te Atreves?</div>
			</div>
			<div class="slide">
				<img src="/assets/slider/image-05.png" alt="Imagen 5">
				<div class="caption">¿Te Atreves?</div>
			</div>
	</div>
</div>
