<div class="container" [@slideInOutAnimation] (click)="goToContact()">
  <div class="slider">
    <div class="slide">
      <img src="/assets/slider/BANNER-01.svg" alt="Imagen 1">
    </div>
    <div class="slide">
      <img src="/assets/slider/BANNER-02.svg" alt="Imagen 2">
    </div>
    <div class="slide">
      <img src="/assets/slider/BANNER-03.svg" alt="Imagen 3">
    </div>
    <div class="slide">
      <img src="/assets/slider/BANNER-04.svg" alt="Imagen 4">
    </div>
    <div class="slide">
      <img src="/assets/slider/BANNER-05.svg" alt="Imagen 5">
    </div>
  </div>
</div>
